logLevel: "trace"
websocket:
  path: "/"
  port: 8088
  upgrader:
    readBufferSize: 1024
    writeBufferSize: 1024
iBricks:
  url: "192.168.1.2"
  port: "80"
  heartbeatFrequencyMin: 5
weather:
  windspeed:
    checkAverageFrequencyMin: 5
    windResetGracePeriodMin: 30
    shutterUpLowThreshold: 21
    shutterUpMedThreshold: 27
    shutterUpHighThreshold: 35
knx:
  interfaceIp: "1.2.3.4"
  interfacePort: 3671
  knxDevices:
    - knxAddress: "1/2/3"
      type: "sensor"
      name: "kitchen"
      room: "kitchen"
      valueType: "temp"
    - knxAddress: "2/3/4"
      type: "actor"
      name: "shutter-terrace-bedroom"
      room: "terrace"
      valueType: "shutter"
      typeConfig:
        windClass: "medium"
shelly:
  shellyDevices:
    - knxAddress: "10/0/1"
      type: "relais"
      name: "kitchen"
      room: "kitchen"
      ip: "4.5.6.7"
      index: 0
promExporter:
  port: 8080
  path: "/metrics"