logLevel: "trace"
ipgeolocation:
  apiKey: "1234...abcd"
  fetchFrequency: 5
websocket:
  path: "/"
  port: 8088
  upgrader:
    readBufferSize: 1024
    writeBufferSize: 1024
iBricks:
  url: "192.168.1.2"
  port: "80"
  heartbeatFrequencyMin: 5
weather:
  location:
    latitude: 0.000
    longitude: 0.000
    timezone: "Europe/Berlin"
  windspeed:
    checkDirectionFrequencyMin: 1
    checkAverageFrequencyMin: 5
    windResetGracePeriodMin: 30
    shutterUpVeryLowThreshold: 8
    shutterUpLowThreshold: 12
    shutterUpMedThreshold: 16
    shutterUpHighThreshold: 20
    shutterUpVeryHighThreshold: 35
  windClassToShutterPositionMap:
    none:
      low: 100
      medium: 100
      high: 100
    veryLow:
      low: 90
      medium: 100
      high: 100
    low:
      low: 70
      medium: 80
      high: 100
    medium:
      low: 50
      medium: 70
      high: 100
    high:
      low: 0
      medium: 50
      high: 100
    veryHigh:
      low: 0
      medium: 0
      high: 0
knx:
  interfaceIp: "1.2.3.4"
  interfacePort: 3671
  healthCheckFrequencyMin: 1
  knxDevices:
    - knxAddress: "1/2/3"
      type: "sensor"
      name: "kitchen"
      room: "kitchen"
      valueType: "temp"
    - knxAddress: "2/3/4"
      type: "actor"
      name: "shutter-terrace-bedroom"
      room: "terrace"
      valueType: "shutter"
      typeConfig:
        windClass: "medium"
shelly:
  shellyDevices:
    - knxAddress: "10/0/1"
      type: "relais"
      name: "kitchen"
      room: "kitchen"
      ip: "4.5.6.7"
      index: 0
promExporter:
  port: 8080
  path: "/metrics"